* {
    background: url(../img/campo.jpg);
    background-size: 100% 100%; /* La imagen cubre todo el bloque */
    background-repeat: no-repeat; /* Hacemos que la imagen deje de repetirse */
    background-attachment: fixed;
}


.j1, .j2, .j3, .j4, .j5, .j6, .j7, .j8, .j9, .j10, .j11 {
    position: absolute;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    overflow: hidden;
    animation-duration: 2s;
}

@keyframes portero {
    to {
        top: 40%;
        left: 5%;
    }
}

@keyframes j2 {
    to {
        top: 7%;
        left: 33%;
    }
}

@keyframes j3 {
    to {
        top: 20%;
        left: 23%;
    }
}

@keyframes j4 {
    to {
        top: 60%;
        left: 23%;
    }
}

@keyframes j5 {
    to {
        top: 73%;
        left: 33%;
    }
}

@keyframes j6 {
    to {
        top: 18%;
        left: 45%;
    }
}

@keyframes j7 {
    to {
        top: 63%;
        left: 45%;
    }
}

@keyframes j8 {
    to {
        top: 40%;
        left: 85%;
    }
}

@keyframes j9 {
    to {
        top: 7%;
        left: 62%;
    }
}

@keyframes j10 {
    to {
        top: 40%;
        left: 70%;
    }
}

@keyframes j11 {
    to {
        top: 73%;
        left: 62%;
    }
}

.j1 { animation: portero 3s ease forwards; }
.j2 { animation: j2 3s ease forwards; }
.j3 { animation: j3 3s ease forwards; }
.j4 { animation: j4 3s ease forwards; }
.j5 { animation: j5 3s ease forwards; }
.j6 { animation: j6 3s ease forwards; }
.j7 { animation: j7 3s ease forwards; }
.j8 { animation: j8 3s ease forwards; }
.j9 { animation: j9 3s ease forwards; }
.j10 { animation: j10 3s ease forwards; }
.j11 { animation: j11 3s ease forwards; }


.j1, .j2, .j3, .j4, .j5, .j6, .j7, .j8, .j9, .j10, .j11 { top: -100%; left: 50%; transform: translateX(-50%); }


.j1 img, .j2 img, .j3 img, .j4 img, .j5 img, .j6 img, .j7 img, .j8 img, .j9 img, .j10 img, .j11 img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
